.DS_Store
.Rhistory
.RData
.RDataTmp
.Rapp.history
.ipynb_checkpoints/
__pycache__/
*.pyc
.pytest_cache/
.Rproj.user/
.vscode/
distance_matrices/
glm data/brms_manuscript_outputs-newsession/diagnostics/
glm data/brms_manuscript_outputs-newsession/models/
